// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

#new_task_form {
	margin-bottom: 30px;
	margin-top: 25px;
	padding: 50px 30px;
	border: 1px solid #C4CBD0;
	padding-left: 10%;
}

.done_checkbox{
  display: none;
}
.checkbox {
	display: block;
	margin: 25px auto 10px 800px;
}
.cb {
  border-radius: 5px;
	background-color: #FFFFFF;
	user-select: none;
}

.change_text {
	color: red;
	display: inline-block;
	padding: 20px 43px;
}

.new_text {
	display: none;
}

.done_checkbox:checked + .change_text{
	display: none;
}

.done_checkbox:checked ~ .new_text {
  display: inline-block;
  color: #009a9a;
  padding: 20px 50px;
}

.details {
	float: left;
	line-height: 27px;
}